.ChemistryLayout {
  gap: var(--size-3);

  .mixesHeader {
    display: flex;
    align-items: center;
    gap: var(--size-3);
  }

  .mixesList {
    list-style: none;
    text-decoration: underline;
  }

  .mixingHeader {
    h2 {
      display: inline-block;
    }

    button {
      color: var(--brand);
    }
  }

  .section {
    width: 100%;
    max-width: 520px;
  }
}
