.CreateDevelopmentRecipe {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  .stepsSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    padding: 8px;
  }
  .step {
    border: 1px dashed black;
  }
}
