.Dashboard {
  display: flex;
  height: 100%;
  overflow-y: hidden;

  .mix-entry {
    display: flex;
    align-items: center;
  }

  .chemistryGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .bullet {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
  }
  .bullet.okay {
    background-color: var(--success);
    border-radius: 100%;
  }

  .bullet.bad {
    background-color: var(--danger);
    border-radius: 100%;
  }
}
