.Dashboard {
  display: flex;
  height: 100%;
  overflow-y: hidden;

  .mix-entry {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      & .mix-label {
        text-decoration: underline;
      }
    }
  }

  .bullet {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
  }
  .bullet.okay {
    color: green;
    font-size: 2rem;
  }

  .bullet.bad {
    color: red;
    font-size: 2rem;
  }
}
