@keyframes rotate-tank {
  to {
    transform: rotate(180deg);
  }
}

.Recipe {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 4;
  width: 100%;

  .timerAndControls {
    display: flex;
    flex-direction: column;
  }
  .controls {
    display: flex;
  }

  .tank {
    transform: scale(60%);
  }

  .tankAndControls {
    display: flex;
    align-items: center;
    gap: var(--size-3);
  }

  .step:not(.active) {
    color: #ccc;
  }

  .step.done {
    display: none;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .playbackControls {
    display: flex;
    gap: var(--size-3);
  }

  svg {
    transition: all 1s ease-in-out;
  }

  .animate-agitation {
    animation: rotate-tank 1s ease-out alternate infinite;
  }

  .paused {
    animation-play-state: paused;
  }

  .mixInfo {
    display: flex;
    gap: var(--size-3);
    align-items: center;
  }
}
