.Recipe {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;

  progress {
    width: 100%;
    height: 50px;
  }

  .step:not(.active) {
    color: #ccc;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
}
