@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.Root {
  header {
    font-family: Raleway, sans-serif;
    padding: var(--size-1);
    padding-left: var(--size-3);

    .title {
    }

    h1 {
      display: inline-block;
      font-size: var(--font-size-s);
      vertical-align: baseline;
    }
  }

  .version {
    padding-left: var(--size-2);
    font-size: var(--font-size-s);
  }

  height: 100%;
  overflow: hidden;
}
