.StockRoot {
  display: flex;
    flex: 1;
    gap: var(--size-3);


    .recipesHeading {
        gap: var(--size-3);
        display: flex;
        align-items: center;
    }

    .recipeLink {
        text-decoration: underline;
    }
    
    
    
}
