.Input {
  flex-direction: column;
  position: relative;
  display: flex;

  &.checkbox {
    flex-direction: row;
    white-space: nowrap;
    flex-direction: row-reverse;
    gap: var(--size-2);
    div {
      flex: 1;
    }

    input {
      width: auto;
    }
  }

  input,
  textarea {
    color: inherit;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: var(--background-tertiary);
    padding: var(--size-2) var(--size-3);
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  input.temperature::after {
    content: "s";
  }
}
