.SidebarMenu {
  flex: 0 1 15vw;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;

  .SidebarMenuCore {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    height: 100%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.75);
    position: relative;
  }
}
