.SidebarMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
  height: 100%;
  overflow-y: auto;
  position: relative;

  h2 {
    font-size: var(--font-size-xl);
  }

  a {
    padding: var(--size-1) var(--size-2);
    border-radius: 2px;
    text-decoration: none;

    &:hover {
      background: var(--background-tertiary);
    }
  }

  a.active {
    background: var(--background-tertiary);

    text-decoration: none;

    &:hover {
      text-decoration: none !important;
    }
  }

  @media screen and (max-width: 420px) {
    flex: 1;
  }
}
