.SidebarMenu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 100%;
    border-right: 1px solid rgba(0,0,0,.15);
        background: white;
        position: relative;
}