.StepInput {
  &:not(.editing) {
    button {
      color: var(--brand);
    }
  }
  &.editing {
    border: 1px dashed var(--brand);
    border-radius: 5px;
    padding: 5px;
  }

  .step-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--size-2);

    button:last-child {
      color: var(--brand);
    }
  }
}
